body {
  background: transparent;
  margin: 4px 6px 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.8em;
  overflow: hidden;
}
.side-block {
  padding: 10px;
  border: 1px solid #660000;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(102, 0, 0, 0.5);
  background: #fff;
  margin-bottom: 15px;
}
.side-block .heading {
  color: #600;
  border-bottom: solid 1px #600;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 8pt;
  font-weight: bold;
}
.side-block .heading a {
  cursor: pointer;
}
.side-block p {
  margin: 0;
}
.side-block div.menu-item {
  margin: 2px 0;
}
.side-block div.menu-item img {
  width: 13px;
  height: 13px;
  border: 0;
  margin-right: 2px;
  position: relative;
  bottom: -2px;
}
.side-block div.menu-item a {
  color: #b01;
  font-weight: bold;
  text-decoration: none;
}
.side-block div.menu-item a:hover {
  text-decoration: underline;
}
/* @media screen and (prefers-color-scheme: dark) {
  .side-block {
    border: 1px solid #CE1D1D;
    box-shadow: 0 2px 6px rgba(102, 0, 0, 0.5);
    background: #333;
  }
  .side-block .heading {
    color: #d00;
    border-bottom: solid 1px #CE1D1D;
  }
} */