@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:ital,wght@0,400;0,700;1,400;1,700&display=fallback");
@supports((display: -ms-grid) or (display: grid)) {
:root {
    --body-font: "Noto Sans SC", Verdana, "Microsoft YaHei", "微软雅黑", Geneva, sans-serif, STXihei, "华文细黑";
    --white-monochrome: 252, 252, 252;
    --black-monochrome: 12, 12, 12;
    --bright-accent: 133, 0, 5;
    --medium-accent: 100, 46, 44;
    --dark-accent: 100, 3, 15;
    --swatch-primary-darker: var(--medium-accent);
    --swatch-menubg-hover-color: var(--black-monochrome);
    --swatch-menutxt-dark-color: var(--black-monochrome);
    --swatch-menutxt-light-color: var(--white-monochrome);
    --swatch-menutxt-general-color: var(--swatch-menutxt-dark-color);
    --swatch-border-color: var(--black-monochrome);
    --swatch-text-secondary-color: var(--swatch-menutxt-light-color);
    --sidebar-links-text: var(--swatch-menutxt-general-color);
    --gradient-sidemenu-header: linear-gradient(10deg, rgba(var(--swatch-primary-darker), 0.45) 0%, rgba(var(--swatch-primary-darker), 0.55) 100%);
    --sidebar-internal-border-thickness: 0.125rem;
    --base-font-size: 0.9375rem;
}

body {
    background: transparent;
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--base-font-size);
    font-weight: 400;
    -webkit-font-kerning: auto;
    font-kerning: auto;
    font-variant-ligatures: common-ligatures contextual;
    font-variant-numeric: lining-nums proportional-nums;
    -webkit-font-feature-settings: "lnum","kern","clig","calt";
    -moz-font-feature-settings: "lnum","kern","clig","calt";
    font-feature-settings: "lnum", "kern", "clig", "calt";
    overflow: hidden;
}

.side-block div.menu-item a {
    position: relative;
    z-index: 2;
    height: inherit;
    overflow: hidden;
    text-decoration: none;
}

.side-block div.menu-item a:hover {
    background-color: rgba(12, 12, 12, 0.15);
    background-color: rgba(var(--swatch-menubg-hover-color), 0.15);
    text-decoration: none;
}

.side-block div.menu-item a::before {
    -webkit-transform: translateX(-webkit-calc(-100% - 4rem));
    -moz-transform: translateX(-moz-calc(-100% - 4rem));
    -ms-transform: translateX(calc(-100% - 4rem));
    -o-transform: translateX(calc(-100% - 4rem));
    transform: translateX(calc(-100% - 4rem));
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: -o-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.side-block div.menu-item a::before,
.side-block div.menu-item a:hover::before {
    content: " ";
    width: 125%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(var(--bright-accent),0.25);
    opacity: 1;
    z-index: -1;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}
    
.side-block div.menu-item a:hover::before {
    -webkit-transform: translateX(-2rem);
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -o-transform: translateX(-2rem);
    transform: translateX(-2rem);
}

.side-block {
    border: 0;
    margin-top: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: rgb(0,0,0,0);
    overflow: hidden;
}

.side-block .heading {
    min-height: 1.25rem;
    background: -webkit-linear-gradient(10deg, rgba(var(--medium-accent), 0.45) 0%, rgba(var(--medium-accent), 0.55) 100%);
    background: -moz-linear-gradient(10deg, rgba(var(--medium-accent), 0.45) 0%, rgba(var(--medium-accent), 0.55) 100%);
    background: -o-linear-gradient(10deg, rgba(var(--medium-accent), 0.45) 0%, rgba(var(--medium-accent), 0.55) 100%);
    background: linear-gradient(10deg, rgba(var(--medium-accent), 0.45) 0%, rgba(var(--medium-accent), 0.55) 100%);
    margin-top: 0.5rem;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.side-block .heading a {
    cursor: pointer;
}

.side-block .heading p {
    letter-spacing: 0.2rem;
    color: rgb(252, 252, 252);
    color: rgb(var(--swatch-menutxt-light-color));
    height: 1.25rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-size: -webkit-calc(0.875rem * 0.9);
    font-size: -moz-calc(0.875rem * 0.9);
    font-size: calc(0.875rem * 0.9);
    font-weight: 700;
    text-align: center;
    text-shadow: 0.063rem 0.063rem 0.063rem rgb(12, 12, 12);
    display: block;
    cursor: default;
}

.side-block div.menu-item {
    margin: 0;
    text-align: right;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 0;
    min-height: -webkit-calc(1.5rem - 0.125rem);
    min-height: -moz-calc(1.5rem - 0.125rem);
    min-height: calc(1.5rem - 0.125rem);
    border-bottom: 0.125rem solid rgba(var(--swatch-border-color), 0.08);
}

.side-block div.menu-item a {
    position: relative;
    z-index: 2;
    padding: 0 0.6em;
    margin: 0;
    color: rgb(12, 12, 12);
    color: rgb(var(--sidebar-links-text));
    font-size: -webkit-calc(var(--base-font-size) * (14/15));
    font-size: -moz-calc(var(--base-font-size) * (14/15));
    font-size: calc(var(--base-font-size) * (14/15));
    letter-spacing: 0.04em;
    background-color: rgba(12, 12, 12, 0);
    background-color: rgba(var(--swatch-menubg-hover-color), 0);
    -webkit-transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 80ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    height: -webkit-calc(1.5rem - var(--sidebar-internal-border-thickness));
    height: -moz-calc(1.5rem - var(--sidebar-internal-border-thickness));
    height: calc(1.5rem - var(--sidebar-internal-border-thickness));
    line-height: -webkit-calc(1.5rem - var(--sidebar-internal-border-thickness));
    line-height: -moz-calc(1.5rem - var(--sidebar-internal-border-thickness));
    line-height: calc(1.5rem - var(--sidebar-internal-border-thickness));
    background-clip: padding-box;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -moz-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    text-align: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    text-decoration: none;
}

.side-block div.menu-item a:visited,
.side-block div.menu-item a:active {
    color: rgb(12, 12, 12);
    color: rgb(var(--sidebar-links-text));
}

.side-block div.menu-item img {
    display: none;
}

.side-block p {
    margin: 0;
}
}
